{% extends "base/base.html" %}

{% block main %}
<h2>Registrations for {{event.name}}</h2>
<hr>
<hr>

<div class="table-responsive small px-10 mx-10">
  <table class="table table-striped table-sm">
    <thead>
        <tr>
          <th scope="col">Sr. No</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Blood Group</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Address</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        {% for reg in registrations %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ reg.user.username }}</td>
            <td>{{ reg.user.profile.department_year }}</td>
            <td>{{ reg.user.profile.blood_group }}</td>
            <td>{{ reg.user.profile.contact_number }}</td>
            <td>{{ reg.user.profile.address }}</td>
            <td><a href="{% url 'profile' reg.user.username %}">View Profile</a></td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock main %}
